* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #f6f6f6; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.container {
  margin: 0 20px; }
  @media screen and (min-width: 1200px) {
    .container {
      width: 90%;
      margin: 0 auto;
      padding: 0; } }

.clearfix::after, .clearfix::before {
  content: "";
  display: table;
  clear: both; }

header {
  width: 100%;
  height: 50px;
  background: #7c4dff; }
  header a.header-left {
    float: left;
    color: #fff; }
    header a.header-left:hover {
      color: #f1f1f1; }
    header a.header-left span.fa {
      font-size: 25px;
      line-height: 50px; }
    header a.header-left span.header-text {
      text-transform: uppercase;
      display: none; }
      @media screen and (min-width: 800px) {
        header a.header-left span.header-text {
          display: inline-block; } }
  header div.header-right {
    float: right; }
    header div.header-right span {
      float: left;
      padding: 0 10px;
      cursor: pointer;
      line-height: 50px;
      font-size: 20px;
      color: #fff; }
    header div.header-right .dropdown {
      position: relative; }
      header div.header-right .dropdown .dropdown-menu {
        display: none;
        position: absolute;
        top: 120%;
        right: -10px;
        z-index: 3;
        background: #f7f7f7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
        header div.header-right .dropdown .dropdown-menu::after {
          position: absolute;
          z-index: 1;
          right: 10px;
          top: -10px;
          content: "";
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #f1f1f1; }
        header div.header-right .dropdown .dropdown-menu li {
          line-height: 0; }
          header div.header-right .dropdown .dropdown-menu li:hover {
            background: #f1f1f1; }
          header div.header-right .dropdown .dropdown-menu li a {
            font-size: 12px;
            text-transform: uppercase;
            padding: 0 20px;
            line-height: 30px;
            color: #111; }

div.search-panel {
  position: fixed;
  z-index: 888;
  top: 0;
  right: 0;
  width: 0;
  height: 10%;
  background: rgba(132, 88, 255, 0.8);
  opacity: 0;
  color: #fff;
  transition: all 0.2s ease-in; }
  div.search-panel.active {
    opacity: 1;
    width: 100%;
    height: 100%; }
  div.search-panel span {
    font-size: 40px;
    float: right;
    margin: 40px;
    cursor: pointer; }
  div.search-panel form {
    clear: right;
    font-size: 25px;
    text-align: center; }
    div.search-panel form input {
      width: 90%;
      max-width: 600px;
      height: 50px;
      margin: 20px 0;
      font-size: 25px;
      padding: 0 20px; }

div.page-btn {
  position: fixed;
  bottom: 10%;
  right: 10%;
  z-index: 5; }
  div.page-btn span {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 25px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    cursor: pointer; }

nav {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.4); }
  nav .container {
    position: relative; }
    nav .container span.modal-btn {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 50px;
      background: #fff;
      width: 50px;
      height: 50px;
      font-size: 40px;
      color: #7c4dff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      line-height: 50px;
      cursor: pointer; }

.nav-header {
  height: 70px;
  background: #fff; }
  .nav-header a.nav-brand {
    font-size: 30px;
    line-height: 70px;
    color: #111;
    float: left; }
  .nav-header a.nav-btn {
    text-transform: uppercase;
    font-size: 14px;
    color: #111;
    float: right;
    margin: 26px 50px 0 0; }

.nav-menu {
  position: fixed;
  z-index: 2;
  left: 100%;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in-out; }
  .nav-menu ul {
    margin: 40px;
    float: left; }
    .nav-menu ul li a {
      line-height: 30px;
      text-transform: uppercase;
      font-size: 14px;
      color: #111; }
      .nav-menu ul li a:hover, .nav-menu ul li a:active {
        color: #7c4dff; }
    .nav-menu ul li.active a {
      color: #7c4dff; }
  .nav-menu a.nav-close {
    float: right;
    margin: 40px;
    font-size: 16px;
    font-size: 16px;
    color: #fc3; }
    .nav-menu a.nav-close:hover {
      color: #7c4dff; }

@media screen and (min-width: 1000px) {
  nav {
    height: 70px; }

  .nav-header {
    position: static;
    float: left; }
    .nav-header .nav-btn {
      display: none; }

  .nav-menu {
    position: static;
    float: right;
    width: auto;
    height: auto; }
    .nav-menu a.nav-close {
      display: none; }
    .nav-menu ul {
      margin: 0; }
      .nav-menu ul li {
        float: left; }
        .nav-menu ul li.active a {
          box-shadow: inset 0 -5px 0 #7c4dff; }
        .nav-menu ul li a {
          display: block;
          line-height: 70px;
          padding: 0 10px;
          font-size: 16px;
          font-weight: 600; } }
div.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out; }
  div.modal.active {
    transition: background 0.2s 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.3);
    transform: translateX(0); }
  div.modal div.modal-panel {
    height: 100%;
    width: 100%;
    overflow: auto;
    float: right;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.4); }
    @media screen and (min-width: 600px) {
      div.modal div.modal-panel {
        width: 350px; } }

.modal-header {
  background: #7c4dff;
  color: #fff;
  padding: 20px; }
  .modal-header span.modal-panel-close {
    cursor: pointer;
    font-size: 30px;
    float: left; }
  .modal-header span.fa-search, .modal-header .fa-ellipsis-v {
    cursor: pointer;
    font-size: 20px;
    float: right;
    padding: 20px 10px; }
  .modal-header div.info img {
    float: left;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 20px; }
  .modal-header div.info h4 {
    margin-top: 50px;
    font-size: 20px;
    text-transform: uppercase; }
  .modal-header a.modal-download {
    float: right;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; }
    .modal-header a.modal-download span {
      float: left;
      padding: 0 3px; }

.modal-form {
  background: #fff;
  padding: 20px; }
  .modal-form .md-form-group {
    margin: 10px 0; }
    .modal-form .md-form-group input, .modal-form .md-form-group textarea {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 0;
      border-bottom: 2px solid #ddd; }

div.main-wrapper {
  width: 100%;
  overflow: hidden;
  transition: height 0.6s ease-in-out; }
  div.main-wrapper > ul.slides {
    width: 800%;
    position: relative;
    transition: transform 0.6s ease-in-out; }
    div.main-wrapper > ul.slides > li {
      float: left;
      width: 12.5%;
      heihgt: auto; }
      div.main-wrapper > ul.slides > li > div {
        width: 100%;
        height: auto;
        background: #f6f6f6; }

.home-page .home-info, .home-page .home-img {
  width: 100%; }
  @media screen and (min-width: 800px) {
    .home-page .home-info, .home-page .home-img {
      width: 50%;
      float: left; } }
.home-page .home-info {
  padding: 80px; }
  .home-page .home-info h1, .home-page .home-info p {
    margin: 20px 0; }
  .home-page .home-info button {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #7c4dff;
    cursor: pointer;
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4); }
    .home-page .home-info button:active {
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
      transform: translateY(2px); }
    .home-page .home-info button:last-child {
      background: #fc3; }
.home-page .home-img {
  text-align: center; }
  .home-page .home-img img {
    width: 60%; }

.about-page {
  padding: 50px; }
  .about-page h2 {
    margin: 50px 0 30px; }
  .about-page .about-wrapper {
    width: 100%; }
    .about-page .about-wrapper .about-img {
      width: 100%;
      margin-bottom: 20px; }
      .about-page .about-wrapper .about-img img {
        width: 100%; }
    .about-page .about-wrapper .about-info {
      padding-left: 20px; }
      .about-page .about-wrapper .about-info h4 {
        margin-bottom: 20px; }
      .about-page .about-wrapper .about-info p {
        color: #444;
        margin: 10px 0; }
    @media screen and (min-width: 800px) {
      .about-page .about-wrapper .about-img {
        width: 300px !important;
        float: left; }
      .about-page .about-wrapper .about-info {
        padding-left: 300px; } }
    .about-page .about-wrapper div.dashed {
      width: 100%;
      height: 0;
      border-top: 3px dashed #333;
      position: relative;
      margin: 30px 0; }
      .about-page .about-wrapper div.dashed::after, .about-page .about-wrapper div.dashed::before {
        content: "";
        position: absolute;
        top: 0;
        margin-top: -10px;
        left: -5px;
        width: 10px;
        height: 10px;
        border: 3px solid #7c4dff;
        border-radius: 50%;
        background: #fff; }
      .about-page .about-wrapper div.dashed::after {
        left: 100%;
        margin-left: -5px; }
    .about-page .about-wrapper .about-panel {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      .about-page .about-wrapper .about-panel span {
        width: 200px;
        height: 200px;
        background: #fff;
        margin: 10px;
        font-size: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
        .about-page .about-wrapper .about-panel span:hover {
          background: #7c4dff;
          color: #fff; }

div.skill-page {
  padding: 40px; }
  div.skill-page h3 {
    margin: 20px 0; }
  div.skill-page .skill-wrapper {
    display: flex;
    flex-flow: row wrap; }
    div.skill-page .skill-wrapper .technical-skill, div.skill-page .skill-wrapper .knowledge {
      flex: 1 100%; }
      @media screen and (min-width: 800px) {
        div.skill-page .skill-wrapper .technical-skill, div.skill-page .skill-wrapper .knowledge {
          flex: 1 0px; } }

.technical-skill h4 {
  margin: 20px 0; }
.technical-skill h5 {
  margin: 20px 0 5px; }
.technical-skill div.progress {
  height: 10px;
  width: 90%;
  border-radius: 2px;
  background: #ccc;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }
  .technical-skill div.progress span {
    width: 70%;
    height: 100%;
    background: #7c4dff;
    display: block;
    position: relative; }
    .technical-skill div.progress span::after {
      position: absolute;
      top: -8px;
      left: 100%;
      margin-left: -13px;
      content: "70%";
      font-size: 11px;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      color: #111;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

.knowledge h4 {
  margin: 20px 0; }
.knowledge ul {
  columns: 2 150px; }
  .knowledge ul li {
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px;
    position: relative; }
    .knowledge ul li i {
      font-size: 16px;
      color: #7c4dff;
      position: absolute;
      left: -20px;
      top: -2px; }

div.experience-page {
  padding: 50px; }
  div.experience-page h2 {
    padding: 20px 0; }

.timeline-v {
  position: relative;
  padding: 30px 0;
  height: auto; }
  .timeline-v::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0px;
    height: 100%;
    border-left: 2px dashed #444; }
  .timeline-v .time-1 {
    position: relative; }
    .timeline-v .time-1 .time-img {
      position: absolute;
      top: -25px;
      left: -25px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      border-radius: 50%;
      border: 5px solid #7c4dff;
      color: #111;
      background: #fff;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); }
    .timeline-v .time-1 .time-heading {
      position: relative;
      left: 100%;
      margin-left: -50%;
      width: 50%;
      text-align: center;
      text-transform: uppercase;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
      .timeline-v .time-1 .time-heading::before {
        content: "";
        position: absolute;
        top: 0;
        left: -10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #7c4dff; }
      .timeline-v .time-1 .time-heading h4 {
        padding: 10px 0;
        background: #7c4dff;
        color: #fff; }
      .timeline-v .time-1 .time-heading h3 {
        padding: 15px 0;
        color: #333; }
    .timeline-v .time-1 .time-content {
      position: relative;
      width: 80%;
      left: 100%;
      margin: 20px 0 100px;
      margin-left: -80%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      background: #fff;
      padding: 0 20px; }
      .timeline-v .time-1 .time-content::before {
        position: absolute;
        left: 0;
        top: -10px;
        width: 0;
        heght: 0;
        content: "";
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #fff; }
      .timeline-v .time-1 .time-content h3 {
        color: #000;
        text-transform: uppercase;
        padding: 20px 0 10px; }
      .timeline-v .time-1 .time-content p {
        padding: 10px 0;
        color: #666; }

@media screen and (min-width: 1000px) {
  .timeline-v::before {
    left: 30%; }
  .timeline-v .time-1 .time-img {
    left: 30%;
    margin-left: -25px; }
  .timeline-v .time-1 .time-heading {
    left: 0;
    margin-left: 0;
    width: 25%; }
    .timeline-v .time-1 .time-heading::before {
      left: auto;
      right: -10px; }
  .timeline-v .time-1 .time-content {
    width: 65%;
    margin-left: -65%; }
    .timeline-v .time-1 .time-content::before {
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      top: 0;
      left: -10px; } }
.carousel {
  margin: 50px 0;
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden; }
  .carousel ul.carousel-indicator {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    .carousel ul.carousel-indicator li {
      cursor: pointer;
      width: 30px;
      height: 10px;
      border: 1px solid #111;
      display: inline-block;
      margin: 0 3px;
      background: #fff; }
      .carousel ul.carousel-indicator li.active {
        background: #7c4dff; }
  .carousel .carousel-item {
    width: 300%;
    height: auto;
    transition: transform 0.8s ease-in-out; }
    .carousel .carousel-item .item {
      float: left;
      width: 33.33%;
      padding-top: 20px;
      position: relative;
      text-align: center; }
      .carousel .carousel-item .item img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 4px solid #fff;
        margin: 20px 0; }
      .carousel .carousel-item .item p {
        font-size: 18px;
        font-weight: 600;
        color: #111; }
      .carousel .carousel-item .item h5 {
        margin: 25px 0 50px;
        font-weight: 600;
        font-size: 16px; }

div.education-page {
  padding: 50px; }
  div.education-page h2 {
    margin: 50px 0 30px; }

.timeline-h {
  padding: 10px 0;
  position: relative; }
  .timeline-h .dashed {
    position: absolute;
    width: 0;
    height: 100%;
    border-left: 2px dashed #111; }
    .timeline-h .dashed::before, .timeline-h .dashed::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: -10px;
      margin-top: -9px;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
      border: 4px solid #7c4dff; }
    .timeline-h .dashed::after {
      top: 100%; }
  .timeline-h .time-tag {
    width: 100%;
    height: 200px;
    position: relative; }
    .timeline-h .time-tag::before {
      content: "";
      width: 10px;
      height: 10px;
      background: #fff;
      border: 5px solid #7c4dff;
      position: absolute;
      z-index: 1;
      top: 40px;
      left: -9px; }
    .timeline-h .time-tag .time-heading {
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      position: absolute;
      left: 20%;
      top: 0;
      padding: 20px;
      text-align: center; }
      .timeline-h .time-tag .time-heading h5 {
        color: #111; }
      .timeline-h .time-tag .time-heading h3 {
        margin-top: 20px;
        color: #555; }
      .timeline-h .time-tag .time-heading::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #fff;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: -10px; }
      .timeline-h .time-tag .time-heading span {
        color: #111;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%); }

@media screen and (min-width: 1000px) {
  .timeline-h {
    width: 100%;
    height: 300px; }
    .timeline-h .dashed {
      position: absolute;
      top: 50%;
      margin-top: 10px;
      left: 0;
      width: 100%;
      height: 0;
      border-left: 0;
      border-top: 2px dashed #111; }
      .timeline-h .dashed::before, .timeline-h .dashed::after {
        top: 0;
        left: 0;
        margin-top: -10px; }
      .timeline-h .dashed::after {
        left: 100%;
        margin-left: -10px; }
    .timeline-h .time-tag {
      width: 25%;
      float: left;
      height: 300px; }
      .timeline-h .time-tag::before {
        top: 50%;
        margin-top: -10px;
        left: 50%;
        margin-left: -10px; }
      .timeline-h .time-tag:nth-child(odd) > .time-heading {
        top: auto;
        bottom: 0; }
        .timeline-h .time-tag:nth-child(odd) > .time-heading::before {
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          border-top: 10px solid transparent;
          border-bottom: 10px solid #fff;
          top: auto;
          bottom: 100%;
          left: 50%;
          margin-left: -10px; }
        .timeline-h .time-tag:nth-child(odd) > .time-heading span {
          bottom: auto;
          top: -100px; }
      .timeline-h .time-tag .time-heading {
        top: 0;
        left: 0; }
        .timeline-h .time-tag .time-heading::before {
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-top: 10px solid #fff;
          top: 100%;
          margin-top: 0;
          left: 50%;
          margin-left: -10px; }
        .timeline-h .time-tag .time-heading span {
          bottom: -100px; } }
div.hobbies ul {
  columns: 5 200px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  div.hobbies ul li {
    text-align: center; }
    div.hobbies ul li h5 {
      font-size: 14px;
      margin: 16px 0;
      text-transform: uppercase;
      text-align: center; }
    div.hobbies ul li span {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      font-size: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #666;
      background: #fff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5); }
      div.hobbies ul li span:hover {
        background: #7c4dff;
        color: #fff; }

div.work-page {
  padding: 50px 30px; }
  div.work-page .work-nav {
    width: 100%; }
    div.work-page .work-nav h2 {
      float: left;
      margin-bottom: 20px; }
    div.work-page .work-nav ul {
      float: right; }
      div.work-page .work-nav ul li {
        float: left;
        margin-left: 20px;
        margin-bottom: 20px; }
        div.work-page .work-nav ul li a {
          display: block;
          padding: 10px 15px;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          color: #333;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }

.work-product {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .work-product .thumbnail {
    background: #fff;
    width: 220px;
    margin: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center; }
    .work-product .thumbnail img {
      width: 100%; }
    .work-product .thumbnail h4 {
      margin: 20px 0; }
    .work-product .thumbnail p {
      margin-bottom: 20px; }

div.blog-page {
  padding: 50px; }
  div.blog-page h2 {
    margin: 50px 0 30px 15px; }
  div.blog-page .blog-wrapper {
    width: 100%;
    overflow: hidden; }
    div.blog-page .blog-wrapper .blog-item {
      float: left;
      width: 260px;
      height: 260px;
      margin: 15px;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
      div.blog-page .blog-wrapper .blog-item img {
        width: 100%;
        height: 100%; }
      div.blog-page .blog-wrapper .blog-item .blog-info {
        width: 100%;
        height: 100%;
        padding: 20px;
        position: relative; }
        div.blog-page .blog-wrapper .blog-item .blog-info h5 {
          color: #888;
          margin-bottom: 20px; }
        div.blog-page .blog-wrapper .blog-item .blog-info > div {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-top: 1px solid #666; }
          div.blog-page .blog-wrapper .blog-item .blog-info > div a:first-child {
            padding: 20px;
            display: block;
            float: left;
            color: #111; }
            div.blog-page .blog-wrapper .blog-item .blog-info > div a:first-child:hover {
              text-decoration: underline; }
          div.blog-page .blog-wrapper .blog-item .blog-info > div a:last-child > span {
            padding: 18px;
            font-size: 18px;
            float: right;
            color: #111;
            border-left: 1px solid #666; }
            div.blog-page .blog-wrapper .blog-item .blog-info > div a:last-child > span:hover {
              color: #7c4dff; }
    div.blog-page .blog-wrapper .blog-item-h2, div.blog-page .blog-wrapper .blog-item-w2 {
      height: 550px; }
      div.blog-page .blog-wrapper .blog-item-h2 img, div.blog-page .blog-wrapper .blog-item-w2 img {
        width: 100%;
        height: 50%; }
      div.blog-page .blog-wrapper .blog-item-h2 .blog-info, div.blog-page .blog-wrapper .blog-item-w2 .blog-info {
        width: 100%;
        height: 50%; }
    @media screen and (min-width: 700px) {
      div.blog-page .blog-wrapper .blog-item-w2 {
        width: 550px;
        height: 260px; }
        div.blog-page .blog-wrapper .blog-item-w2 img {
          width: 50%;
          height: 100%;
          float: left; }
        div.blog-page .blog-wrapper .blog-item-w2 .blog-info {
          width: 50%;
          height: 100%;
          float: left; } }

div.contact-page {
  padding: 50px; }
  div.contact-page h2 {
    margin-bottom: 20px; }
  div.contact-page .contact-wrapper {
    width: 100%;
    display: block; }
    div.contact-page .contact-wrapper .contact-left, div.contact-page .contact-wrapper .contact-right {
      float: left;
      width: 100%; }
      div.contact-page .contact-wrapper .contact-left h4, div.contact-page .contact-wrapper .contact-right h4 {
        margin: 20px 0; }
    div.contact-page .contact-wrapper .contact-left {
      color: #333; }
      div.contact-page .contact-wrapper .contact-left span {
        margin: 5px 0; }
      div.contact-page .contact-wrapper .contact-left div.icon-link span {
        float: left;
        margin: 10px 5px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        background: #fff;
        cursor: pointer; }
        div.contact-page .contact-wrapper .contact-left div.icon-link span:hover {
          color: #7c4dff; }
    div.contact-page .contact-wrapper .contact-right {
      display: flex;
      flex-flow: row wrap; }
      div.contact-page .contact-wrapper .contact-right h4 {
        flex: 1 100%; }
      div.contact-page .contact-wrapper .contact-right .form-group {
        flex: 1 100%;
        display: flex;
        margin: 10px; }
        div.contact-page .contact-wrapper .contact-right .form-group label {
          flex: 0 80px;
          margin-top: 5px; }
        div.contact-page .contact-wrapper .contact-right .form-group input, div.contact-page .contact-wrapper .contact-right .form-group textarea {
          flex: 1 auto;
          outline: none;
          padding: 5px;
          border: none;
          border-bottom: 1px solid #ccc;
          background: #f5f5f5; }
          div.contact-page .contact-wrapper .contact-right .form-group input:focus, div.contact-page .contact-wrapper .contact-right .form-group textarea:focus {
            border-bottom-color: #7c4dff; }
        div.contact-page .contact-wrapper .contact-right .form-group input[type=button] {
          flex: 0 150px;
          border: none;
          border-radius: 8px;
          background: #7c4dff;
          color: #fff;
          text-transform: uppercase;
          padding: 8px 0;
          font-size: 14px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
          cursor: pointer; }
          div.contact-page .contact-wrapper .contact-right .form-group input[type=button]:active {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
            transform: translateY(2px); }
    @media screen and (min-width: 600px) {
      div.contact-page .contact-wrapper .contact-left {
        width: 40%; }
      div.contact-page .contact-wrapper .contact-right {
        width: 60%; } }

footer {
  width: 100%;
  background: #232323;
  color: #fff;
  text-align: center; }
  footer .container {
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    footer .container div {
      padding: 10px 0;
      flex: 1 100%; }
      footer .container div h4 {
        padding: 20px 0; }
      @media screen and (min-width: 800px) {
        footer .container div {
          flex: 1 auto; } }
    footer .container .footer-center {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; }
      footer .container .footer-center h4 {
        flex: 1 100%; }
      footer .container .footer-center a {
        width: 40px;
        height: 40px;
        background: #fff;
        color: #111;
        border-radius: 100%;
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        footer .container .footer-center a:hover {
          background: #7c4dff;
          color: #fff; }
  footer .copyright {
    background: #111;
    padding: 20px 0; }

/*# sourceMappingURL=style.css.map */
