div.skill-page
  padding: 40px
  h3
    margin: 20px 0
  .skill-wrapper
    display: flex
    flex-flow: row wrap
    .technical-skill, .knowledge
      flex: 1 100%
      @media screen and (min-width: 800px)
        flex: 1 0px
        
.technical-skill
  h4
    margin: 20px 0
  h5
    margin: 20px 0 5px
  div.progress
    height: 10px
    width: 90%
    border-radius: 2px
    background: #ccc
    box-shadow: inset 0 0 2px rgba(0,0,0,.3)
    span
      width: 70%
      height: 100%
      background: $primary-color
      display: block
      position: relative
      &::after
        position: absolute
        top: -8px
        left: 100%
        margin-left: -13px
        content: "70%"
        font-size: 11px
        width: 26px
        height: 26px
        display: flex
        justify-content: center
        align-items: center
        background: #fff
        color: #111
        box-shadow: 0 2px 5px rgba(0,0,0,.5)
.knowledge
  h4
    margin: 20px 0
  ul
    columns: 2 150px
    li
      font-size: 14px
      text-transform: uppercase
      margin: 20px
      position: relative  
      i
        font-size: 16px
        color: $primary-color
        position: absolute
        left: -20px
        top: -2px