.about-page
  padding: 50px
  h2
    margin: 50px 0 30px
  .about-wrapper
    width: 100%
    .about-img
      width: 100%
      margin-bottom: 20px
      img
        width: 100%
    .about-info
      padding-left: 20px
      h4
        margin-bottom: 20px
      p
        color: #444
        margin: 10px 0
        
    @media screen and (min-width: 800px)
      .about-img
        width: 300px !important 
        float: left
      .about-info
        padding-left: 300px
        
    div.dashed
      width: 100%
      height: 0
      border-top: 3px dashed #333
      position: relative
      margin: 30px 0

      &::after, &::before
        content: ""
        position: absolute
        top: 0
        margin-top: -10px
        left: -5px
        width: 10px
        height: 10px
        border: 3px solid $primary-color
        border-radius: 50%
        background: #fff
      &::after
        left: 100%
        margin-left: -5px
    .about-panel
      width: 100%
      display: flex
      flex-flow: row wrap
      justify-content: space-around
      span
        width: 200px
        height: 200px
        background: #fff
        margin: 10px
        font-size: 80px
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 0 2px 5px rgba(0,0,0,.3)
        &:hover
          background: $primary-color
          color: #fff