div.experience-page
  padding: 50px
  h2
    padding: 20px 0
.timeline-v
  position: relative
  padding: 30px 0
  height: auto  
  &::before
    position: absolute
    top: 0
    left: 0
    content: ""
    width: 0px 
    height: 100%
    border-left: 2px dashed #444
  
  .time-1
    position: relative
    .time-img
      position: absolute
      top: -25px
      left: -25px
      width: 50px
      height: 50px
      display: flex
      justify-content: center
      align-items: center
      font-size: 20px
      border-radius: 50%
      border: 5px solid $primary-color
      color: #111
      background: #fff
      box-shadow: 0px 2px 5px rgba(0,0,0,.4)
  
    .time-heading
      position: relative
      left: 100%
      margin-left: -50%
      width: 50%
      text-align: center
      text-transform: uppercase
      background: #fff
      box-shadow: 0 2px 5px rgba(0,0,0,.3)
      &::before
        content: ''
        position: absolute
        top: 0
        left: -10px
        width: 0
        height: 0
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-top: 10px solid $primary-color
      h4
        padding: 10px 0
        background: $primary-color
        color: #fff
      h3
        padding: 15px 0
        color: #333
    .time-content
      position: relative
      width: 80%
      left: 100%
      margin: 20px 0 100px
      margin-left: -80%
      box-shadow: 0 2px 4px rgba(0,0,0,.3)
      background: #fff
      padding: 0 20px 
      &::before
        position: absolute
        left: 0
        top: -10px
        width: 0
        heght: 0
        content: ''
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent
        border-left: 10px solid #fff
      h3
        color: #000
        text-transform: uppercase
        padding: 20px 0 10px
      p
        padding: 10px 0
        color: #666
        
@media screen and (min-width: 1000px)        
  .timeline-v
    &::before
      left: 30%
    
    .time-1
      .time-img
        left: 30%
        margin-left: -25px
      .time-heading
        left: 0
        margin-left: 0
        width: 25%
        &::before
          left: auto
          right: -10px
      .time-content
        width: 65%
        margin-left: -65%
        
        &::before
          border-bottom: 10px solid transparent
          border-left: 10px solid transparent
          border-right: 10px solid transparent
          border-top: 10px solid #fff
          top: 0
          left: -10px
        
.carousel
  margin: 50px 0
  width: 100%
  height: auto
  position: relative
  overflow-x: hidden
  ul.carousel-indicator
    position: absolute
    z-index: 2
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    li
      cursor: pointer
      width: 30px
      height: 10px
      border: 1px solid #111
      display: inline-block
      margin: 0 3px
      background: #fff
      
      &.active
        background: $primary-color
  .carousel-item
    width: 300%
    height: auto
    transition: transform .8s ease-in-out
    
    .item
      float: left
      width: 33.33%
      padding-top: 20px
      position: relative
      text-align: center
      img
        width: 100px
        height: 100px
        border-radius: 50%
        border: 4px solid #fff
        margin: 20px 0
      p
        font-size: 18px
        font-weight: 600
        color: #111
      h5
        margin: 25px 0 50px
        font-weight: 600
        font-size: 16px