div.education-page
  padding: 50px
  h2
    margin: 50px 0 30px
    
.timeline-h
  padding: 10px 0
  position: relative
  .dashed
    position: absolute
    width: 0
    height: 100%
    border-left: 2px dashed #111
    &::before, &::after
      content: ''
      position: absolute
      z-index: 1
      top: 0
      left: -10px
      margin-top: -9px
      width: 10px
      height: 10px
      background: #fff
      border-radius: 50%
      border: 4px solid $primary-color
    &::after
      top: 100%
  .time-tag
    width: 100%
    height: 200px
    position: relative
    &::before
      content: ""
      width: 10px
      height: 10px
      background: #fff
      border: 5px solid $primary-color
      position: absolute
      z-index: 1
      top: 40px
      left: -9px
    
    .time-heading
      background: #fff
      box-shadow: 0 2px 5px rgba(0,0,0,.3)
      position: absolute
      left: 20%
      top: 0
      padding: 20px
      text-align: center
      h5
        color: #111
      h3
        margin-top: 20px
        color: #555
        
      &::before
        content: ""
        width: 0 
        height: 0
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent
        border-right: 10px solid #fff
        position: absolute
        top: 50%
        margin-top: -10px
        left: -10px

      span
        color: #111
        font-size: 20px
        font-weight: bold
        position: absolute
        bottom: -30px
        left: 50%
        transform: translateX(-50%)
    
@media screen and (min-width: 1000px)

  .timeline-h  
    width: 100%
    height: 300px
    .dashed
      position: absolute
      top: 50%
      margin-top: 10px
      left: 0
      width: 100%
      height: 0
      border-left: 0
      border-top: 2px dashed #111
      &::before, &::after
        top: 0
        left: 0
        margin-top: -10px
      &::after
        left: 100%
        margin-left: -10px
    .time-tag
      width: 25%
      float: left
      height: 300px
      &::before
        top: 50%
        margin-top: -10px
        left: 50%
        margin-left: -10px
      &:nth-child(odd) > .time-heading
        top: auto
        bottom: 0
        &::before
          border-right: 10px solid transparent
          border-left: 10px solid transparent
          border-top: 10px solid transparent
          border-bottom: 10px solid #fff
          top: auto
          bottom: 100%
          left: 50%
          margin-left: -10px
        span
          bottom: auto
          top: -100px
      .time-heading
        top: 0
        left: 0
        &::before
          border-right: 10px solid transparent
          border-left: 10px solid transparent
          border-bottom: 10px solid transparent
          border-top: 10px solid #fff
          top: 100%
          margin-top: 0
          left: 50%
          margin-left: -10px
        span
          bottom: -100px

      
div.hobbies    
  ul
    columns: 5 200px
    width: 100%
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    li
      text-align: center
      h5
        font-size: 14px
        margin: 16px 0
        text-transform: uppercase
        text-align: center
      span
        margin: 0 auto
        width: 100px
        height: 100px
        font-size: 50px
        display: flex
        justify-content: center
        align-items: center
        color: #666
        background: #fff
        box-shadow: 0px 2px 8px rgba(0,0,0,.5)
        &:hover
          background: $primary-color
          color: #fff
    