div.contact-page
  padding: 50px
  h2
    margin-bottom: 20px
  .contact-wrapper
    width: 100%
    display: block
    .contact-left, .contact-right
      float: left
      width: 100%
      h4
        margin: 20px 0
    .contact-left
      color: #333
      span
        margin: 5px 0
      div.icon-link
        span
          float: left
          margin: 10px 5px
          width: 40px
          height: 40px
          display: flex
          justify-content: center
          align-items: center
          border-radius: 50%
          box-shadow: 0 2px 5px rgba(0,0,0,.4)
          background: #fff
          cursor: pointer
          &:hover
            color: $primary-color
          
    .contact-right
      display: flex
      flex-flow: row wrap
      h4
        flex: 1 100%
      .form-group
        flex: 1 100%
        display: flex
        margin: 10px
        label
          flex: 0 80px
          margin-top: 5px
        input, textarea
          flex: 1 auto
          outline: none
          padding: 5px
          border: none
          border-bottom: 1px solid #ccc
          background: #f5f5f5
          &:focus
            border-bottom-color: $primary-color
        input[type=button]
          flex: 0 150px
          border: none
          border-radius: 8px
          background: $primary-color
          color: #fff
          text-transform: uppercase
          padding: 8px 0
          font-size: 14px
          box-shadow: 0 2px 5px rgba(0,0,0,.4)
          cursor: pointer
          &:active
            box-shadow: 0 2px 3px rgba(0,0,0,.5)
            transform: translateY(2px)

      
      
    @media screen and (min-width: 600px)
      .contact-left
        width: 40%
      .contact-right
        width: 60%