div.work-page
  padding: 50px 30px
  .work-nav
    width: 100%
    h2
      float: left
      margin-bottom: 20px
    ul
      float: right
      li
        float: left
        margin-left: 20px
        margin-bottom: 20px
        a
          display: block
          padding: 10px 15px
          font-size: 12px
          font-weight: 600
          text-transform: uppercase
          color: #333
          background: #fff
          border-radius: 5px
          box-shadow: 0 2px 4px rgba(0,0,0,.4)
.work-product
  width: 100%
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  .thumbnail
    background: #fff
    width: 220px
    margin: 15px
    box-shadow: 0 4px 10px rgba(0,0,0,.5)
    text-align: center
    img 
      width: 100%
    h4
      margin: 20px 0
    p
      margin-bottom: 20px