.home-page
  .home-info, .home-img
    width: 100%
    @media screen and (min-width: 800px)
      width: 50%
      float: left
  .home-info
    padding: 80px
    h1, p
      margin: 20px 0
    button
      padding: 10px 20px
      outline: none
      border: none
      border-radius: 5px
      color: #fff
      background: $primary-color
      cursor: pointer
      margin-right: 20px
      font-size: 16px
      text-transform: uppercase
      box-shadow: 0 3px 5px rgba(0,0,0,.4)
      &:active
        box-shadow: 0 2px 3px rgba(0,0,0,.8)
        transform: translateY(2px)
      &:last-child
        background: #fc3
  .home-img
    text-align: center
    img
      width: 60%