div.blog-page
  padding: 50px
  h2
    margin: 50px 0 30px 15px
  .blog-wrapper
    width: 100%
    overflow: hidden
    .blog-item
      float: left
      width: 260px
      height: 260px
      margin: 15px
      background: #fff
      box-shadow: 0 2px 5px rgba(0,0,0,.3)
      img
        width: 100%
        height: 100%
      .blog-info
        width: 100%
        height: 100%
        padding: 20px
        position: relative
        h5
          color: #888
          margin-bottom: 20px
        & > div
          position: absolute
          bottom: 0
          left: 0
          width: 100%
          border-top: 1px solid #666
          a:first-child
            padding: 20px
            display: block
            float: left
            color: #111
            &:hover
              text-decoration: underline
          a:last-child > span
            padding: 18px
            font-size: 18px
            float: right
            color: #111
            border-left: 1px solid #666
            &:hover
              color: $primary-color
              
    .blog-item-h2, .blog-item-w2
      height: 550px
      img
        width: 100%
        height: 50%
      .blog-info
        width: 100%
        height: 50%
    @media screen and (min-width: 700px)
      .blog-item-w2
        width: 550px
        height: 260px
        img
          width: 50%
          height: 100%
          float: left
        .blog-info
          width: 50%
          height: 100%
          float: left  
