footer
  width: 100%
  background: $footer-color
  color: #fff
  text-align: center
  .container
    padding: 20px 0
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    
    div
      padding: 10px 0
      flex: 1 100%
      h4
        padding: 20px 0
      @media screen and (min-width: 800px)
        flex: 1 auto
    .footer-center
      display: flex
      flex-flow: row wrap
      justify-content: center
      h4
        flex: 1 100%
      a
        width: 40px 
        height: 40px 
        background: #fff
        color: #111
        border-radius: 100%
        margin: 0 10px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        &:hover
          background: $primary-color
          color: #fff

  
        
        
  .copyright
    background: #111
    padding: 20px 0