div.main-wrapper
  width: 100%
  overflow: hidden
  transition: height .6s ease-in-out
  & > ul.slides
    width: 800%
    position: relative
    transition: transform .6s ease-in-out
    
    & > li
      float: left
      width: 12.5%
      heihgt: auto
      & > div
        width: 100%
        height: auto
        background: #f6f6f6
        