div.modal
  position: fixed
  z-index: 10
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,0)
  transform: translateX(100%)
  transition: transform .6s ease-in-out
  &.active
    transition: background .2s .3s ease-in-out
    background: rgba(0,0,0,.3)
    transform: translateX(0)
  div.modal-panel
    height: 100%
    width: 100%
    overflow: auto
    float: right
    box-shadow: -2px 0 5px rgba(0,0,0,.4)
    
    @media screen and (min-width: 600px)
      width: 350px
      
.modal-header
  background: $primary-color
  color: #fff
  padding: 20px

  span.modal-panel-close
    cursor: pointer
    font-size: 30px
    float: left
  span.fa-search, .fa-ellipsis-v
    cursor: pointer
    font-size: 20px
    float: right
    padding: 20px 10px

  div.info
    img
      float: left
      width: 100px
      height: 100px
      border: 5px solid #fff
      border-radius: 50%
      margin: 20px
    h4
      margin-top: 50px
      font-size: 20px
      text-transform: uppercase
  a.modal-download
    float: right
    color: #fff
    font-size: 14px
    text-transform: uppercase
    span
      float: left
      padding: 0 3px
    
.modal-form
  background: #fff
  padding: 20px
  .md-form-group
    margin: 10px 0
    input, textarea
      width: 100%
      padding: 10px
      font-size: 16px
      border: 0
      border-bottom: 2px solid #ddd
          