nav
  width: 100%
  background: #fff
  position: relative
  z-index: 1
  box-shadow: 0 4px 3px rgba(0,0,0,.4)
  .container
    position: relative
    span.modal-btn
      position: absolute
      z-index: 1
      right: 0
      top: 50px
      background: #fff
      width: 50px
      height: 50px
      font-size: 40px
      color: $primary-color
      box-shadow: 0 0 5px rgba(0,0,0,.6)
      border-radius: 50%
      display: flex
      justify-content: center
      line-height: 50px
      cursor: pointer
.nav-header
  height: 70px
  background: #fff
  
  a.nav-brand
    font-size: 30px 
    line-height: 70px
    color: #111
    float: left
  a.nav-btn
    text-transform: uppercase
    font-size: 14px
    color: #111
    float: right
    margin: 26px 50px 0 0
.nav-menu
  position: fixed
  z-index: 2
  left: 100%
  top: 0
  background: #fff
  width: 100%
  height: 100%
  transition: left .3s ease-in-out
  ul
    margin: 40px
    float: left
    li
      a
        line-height: 30px
        text-transform: uppercase
        font-size: 14px
        color: #111
        &:hover, &:active
          color: $primary-color
      &.active a
        color: $primary-color
        
  a.nav-close
    float: right
    margin: 40px
    font-size: 16px
    font-size: 16px
    color: #fc3
    &:hover
      color: $primary-color
    
@media screen and (min-width: 1000px)
  nav
    height: 70px
  .nav-header
    position: static
    float: left
    
    .nav-btn
      display: none
      
  .nav-menu
    position: static
    float: right
    width: auto
    height: auto
    a.nav-close
      display: none
    ul
      margin: 0
      li
        float: left
        &.active a
          box-shadow: inset 0 -5px 0 $primary-color
        a
          display: block
          line-height: 70px
          padding: 0 10px
          font-size: 16px
          font-weight: 600
