$primary-color: #7c4dff
$footer-color: #232323

*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  background: #f6f6f6
ul
  list-style: none
a
  text-decoration: none

img
  width: 100%
  
.container
  margin: 0 20px
  @media screen and (min-width: 1200px)
    width: 90%
    margin: 0 auto
    padding: 0
    
.clearfix::after, .clearfix::before
  content: ''
  display: table
  clear: both
  
  
  
//  HEADER


header
  width: 100%
  height: 50px
  background: $primary-color
  a.header-left
    
    float: left
    color: #fff
    &:hover
      color: #f1f1f1
    span.fa
      font-size: 25px
      line-height: 50px
    span.header-text
      text-transform: uppercase
      display: none
      @media screen and (min-width: 800px)
        display: inline-block
  
  div.header-right
    float: right
    span
      float: left
      padding: 0 10px
      cursor: pointer
      line-height: 50px
      font-size: 20px
      color: #fff
    .dropdown
      position: relative
      .dropdown-menu
        display: none
        position: absolute
        top: 120%
        right: -10px
        z-index: 3
        background: #f7f7f7
        box-shadow: 0 2px 4px rgba(0,0,0,.3)
        &::after
          position: absolute
          z-index: 1
          right: 10px
          top: -10px
          content: ""
          width: 0
          height: 0
          border-left: 10px solid transparent
          border-right: 10px solid transparent
          border-bottom: 10px solid #f1f1f1
        li 
          line-height: 0
          &:hover
            background: #f1f1f1
          a
            font-size: 12px
            text-transform: uppercase
            padding: 0 20px
            line-height: 30px
            color: #111
    
//  search

div.search-panel
  position: fixed
  z-index: 888
  top: 0
  right: 0
  width: 0
  height: 10%
  background: rgba(132, 88, 255, .8)
  opacity: 0
  color: #fff
  transition: all .2s ease-in
  &.active
    opacity: 1
    width: 100%
    height: 100%
  span
    font-size: 40px
    float: right
    margin: 40px
    cursor: pointer
  form
    clear: right
    font-size: 25px
    text-align: center
    input
      width: 90%
      max-width: 600px
      height: 50px
      margin: 20px 0
      font-size: 25px
      padding: 0 20px
      
div.page-btn
  position: fixed
  bottom: 10%
  right: 10%
  z-index: 5
  span
    width: 50px
    height: 50px
    color: #fff
    font-size: 25px
    background: #000
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    margin-top: 10px
    box-shadow: 0 0 30px rgba(0,0,0, .5)
    cursor: pointer
            
            
//navibargation style
@import "navbar"
  
  
  
//modal form  

@import "modalform"
  

//  main content 
@import "maincontent"
  
// div content
@import "div1"
@import "div2"
@import "div3"
@import "div4"
@import "div5"
@import "div6"
@import "div7"
@import "div8"




//  footer
@import "footer"
  
  
  
  
  
  
  
  
  
  